<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        img {
            width: 500px;
            height: 400px;
        }
        </style>
</head>
<body>
    <center><img src="https://thumbs.dreamstime.com/b/close-store-icon-white-background-flat-style-closed-door-your-web-site-design-logo-app-ui-label-symbol-sorry-sign-156531879.jpg"/> 
    </center>
    <marquee><h1>Come Back tomorrow !! </h1></marquee>
</body>
</html>